<div class="tm-page-wrap mx-auto">
    <div class="position-relative">
        <div class="position-absolute tm-site-header">
            <div class="container-fluid position-relative">
                <div class="row">
                    
                    <div class="col-5 col-md-8 ml-auto mr-0">
                        <div class="tm-site-nav">
                        <app-navigation></app-navigation>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
       

        <router-outlet></router-outlet>
        
        
    </div>

  
</div>