<div class="container">
    <div class="row" id="Menu">
        <div class="col navMenu">
              <h2 class="text-center" >~ News ~</h2>
        </div>
    </div>
    <div class="row bg-light">
        <div class="col-md-4" data-aos="slide-up">
            <div class="card view zoom">
                  <img class="card-img-top img-fluid " src="assets/img/slider3.jpg">
                  <div class="card-body">
                      <h5 class="card-title">~ Meat Menu ~</h5>
                
                       cette section contient un bref resumé dudit article. Il faudra cliqué deçu pour voir en intégralité l'article correspondant
                        <br><br>
                       <button type="button" class="btn btn-primary">Read more</button>
                  </div>
                  
            </div>
        </div>
        <div class="col-md-4" data-aos="slide-up">
            <div class="card">
                  <img class="card-img-top img-fluid " src="assets/img/tn-09.jpg">
                  <div class="card-body">
                      <h5 class="card-title">~ Fish Menu ~</h5>
                      cette section contient un bref resumé dudit article. Il faudra cliqué deçu pour voir en intégralité l'article correspondant
                      <br><br>
                      <button type="button" class="btn btn-primary">Read more</button>
                  </div>
            </div>
        </div>
        <div class="col-md-4" data-aos="slide-up">
            <div class="card">
                  <img class="card-img-top img-fluid" src="assets/img/testimonial-1.jpg">
                  <div class="card-body">
                      <h5 class="card-title">~ Vegetarian Menu ~</h5>
                      cette section contient un bref resumé dudit article. Il faudra cliqué deçu pour voir en intégralité l'article correspondant
                      <br><br>
                      <button type="button" class="btn btn-primary">Read more</button>
                  </div>
            </div>
        </div>
    </div>
    <!--- End of Menu -->

</div>
<app-footer></app-footer>